.videoplayer-container {
  display: flex;
  gap: 1em;
}

.videoplayer-container > div {
  background: #2d2d2d;
  padding: 5px 10px;
  border: 1px solid #353333;
  border-radius: 0.25em;
  flex-grow: 1;
}
